<template>
  <footer class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer__top-item">
          <div class="footer__top-title">
            <h6>Lorem Ipsum</h6>
          </div>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="footer__top-item">
          <div class="footer__top-title">
            <h6>Lorem Ipsum</h6>
          </div>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="footer__top-item">
          <div class="footer__top-title">
            <h6>Lorem Ipsum</h6>
          </div>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="footer__top-item">
          <div class="footer__top-title">
            <h6>Lorem Ipsum</h6>
          </div>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="footer__bottom_inner">
          <div class="copyright">
            <p>2023 All rights reserved</p>
          </div>
          <div class="terms">
            <a class="footer__bottom-link" href="#">Terms</a>
            <a class="footer__bottom-link" href="#">Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<style scoped>
footer {
  margin-top: 50px;
}
.footer {
  background: #21242d;
  color: #868996;
}

.footer__top {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;

  font-size: 11px;
}

.footer__top h6 {
  color: #fff;
  font-size: 15px;
  padding-bottom: 5px;
}

.footer__top-item {
  position: relative;
}

.footer__bottom {
  padding: 30px 0 22px;
  background-color: #181a20;
  font-size: 10px;
  line-height: 12px;
}

.footer__bottom_inner {
  display: flex;
  justify-content: space-between;
}

.footer__bottom-link {
  color: #868996;
}

.footer__bottom-link + .footer__bottom-link {
  border-left: 1px solid #868996;
  padding-left: 20px;
  margin-left: 20px;
}
</style>
