<script>
import { RouterLink } from "vue-router";
</script>

<template>
  <header>
    <div class="container">
      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/movies">Movie search</RouterLink>
      </nav>
    </div>
  </header>
</template>

<style scoped>
header {
  background-color: #444;
  margin-bottom: 50px;
  min-height: 50px;
}

nav {
  padding: 20px;
  color: #fff;
  font-weight: bold;
}

nav a {
  margin-right: 20px;
  cursor: pointer;
}
</style>
