<script>
import MovieList from "./MovieList.vue";
import Loader from "./Loader.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Main",
  components: {
    MovieList,
    Loader,
  },
  mounted() {
    this.fetchMovies;
  },
  computed: {
    ...mapGetters([
      "movies",
      "greaterThan9Films",
      "after2000Films",
      "isLoading",
    ]),
    ...mapActions(["fetchMovies"]),
  },
  data() {
    return {
      activeTab: 0,
      tabs: [
        { title: "Все" },
        { title: "Фильмы с рейтингом > 7" },
        { title: "Фильмы после 2000 года" },
      ],
    };
  },
};
</script>

<template>
  <div>
    <Loader :class="{ active: this.isLoading }" />
    <div class="tabs">
      <div
        v-for="(tab, index) in tabs"
        :key="index"
        :class="{ active: activeTab === index }"
        @click="activeTab = index"
      >
        {{ tab.title }}
      </div>
    </div>
    <div class="tab-content">
      <div v-show="activeTab === 0">
        <MovieList :movies="movies"></MovieList>
      </div>
      <div v-show="activeTab === 1">
        <MovieList :movies="greaterThan9Films"></MovieList>
      </div>
      <div v-show="activeTab === 2">
        <MovieList :movies="after2000Films"></MovieList>
      </div>
    </div>
  </div>
</template>

<style scoped>
.tabs {
  display: flex;
}

.tabs div {
  padding: 10px;
  cursor: pointer;
  border-bottom: none;
  background-color: #f0f0f0;
}

.tabs div.active {
  background-color: #fff;
}

.tab-content {
  padding: 20px;
}

</style>
