<template>
  <div class="movie-list__wrapper">
    <ul class="movie__list">
      <MovieListItem
        v-if="movies"
        v-for="movie in movies.slice(0, 20)"
        :key="movie.id"
        :movie="movie.show"
      ></MovieListItem>
    </ul>
  </div>
</template>

<script>
import MovieListItem from "./MovieListItem.vue";

export default {
  name: "MovieList",
  components: {
    MovieListItem,
  },

  props: ["movies"],
};
</script>

<style scoped>
.movie__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
</style>
