<script>
import axios from "axios";

export default {
  name: "MovieDetails",

  mounted() {
    this.getMovieByID();
  },
  data() {
    return {
      movie: null,
      actors: [
        {
          name: "Chris",
          asCharacter: "Joe",
          image:
            "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR29lfMRKezuCZbhHK5qDQPzO-IIjqF0ym8NWy6q0tsPgSlZ9NzW95pQutBq6lKfSRqOQA&usqp=CAU",
        },
        {
          name: "John",
          asCharacter: "Ricky",
          image:
            "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR29lfMRKezuCZbhHK5qDQPzO-IIjqF0ym8NWy6q0tsPgSlZ9NzW95pQutBq6lKfSRqOQA&usqp=CAU",
        },
        {
          name: "Adam",
          asCharacter: "Boss",
          image:
            "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR29lfMRKezuCZbhHK5qDQPzO-IIjqF0ym8NWy6q0tsPgSlZ9NzW95pQutBq6lKfSRqOQA&usqp=CAU",
        },
      ],
    };
  },
  methods: {
    getMovieByID(id) {
      axios
        .get(`https://api.tvmaze.com/shows/${this.$route.params.id}`)
        .then((response) => {
          console.log(response);
          this.movie = response.data;
        });
    },
  },
};
</script>

<template>
  <div class="movie__details">
    <div v-if="this.movie" class="movie-list__item">
      <div class="description">
        <h4>{{ movie.name }}</h4>
        <p>{{ movie.premiered }}</p>
        <h5>Actors</h5>
        <div class="actors">
          <ul class="actor__list">
            <li v-if="movie" class="actor__item" v-for="actor in actors">
              <div class="actor-card">
                <img :src="actor.image" alt="" />
                <p>name: {{ actor.name }}</p>
                <p>asCharacter: {{ actor.asCharacter }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.movie__details {
  display: flex;
  justify-content: center;
}
.movie-list__item,
.actor-card {
  width: 900px;
  min-height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.movie-list__item > img,
.actor-card > img {
  margin-top: 10px;
  max-height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.description {
  padding: 10px;
}

.description p {
  font-size: 12px;
  color: #6f6a6a;
}

.rating {
  width: 40px;
  height: 20px;
  background-color: rgb(18, 179, 18);
  position: absolute;
  top: 25px;
  right: 30px;
  border: 1px solid #fff;
}

.rating p {
  color: #fff;
  font-weight: bold;
}

.actor__list {
  display: flex;
  justify-content: space-around;
}

.actor-card {
  width: 250px;
  min-height: 400px;
  margin: 30px;
}
</style>
