<template>
  <li @click="navigateToMovieDetails">
    <div class="movie-list__item">
      <img
        :src="
          movie.image
            ? movie.image.original
            : 'https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930'
        "
        alt=""
      />
      <div class="description">
        <h4>{{ movie.name }}</h4>
        <p>{{ movie.type }}</p>
        <p>{{ movie.year }}</p>
        <div v-if="movie.imDbRating" class="rating">
          <p>{{ movie.imDbRating }}</p>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import router from "@/router";

export default {
  name: "MovieListItem",
  props: ["movie"],
  methods: {
    navigateToMovieDetails() {
      router.push(`/movies/${this.movie.id}`);
    },
  },
};
</script>

<style scoped>
.movie-list__item {
  width: 230px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.movie-list__item:hover {
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.4);
}

.movie-list__item > img {
  margin-top: 10px;
  max-height: 300px;
  min-width: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.description {
  padding: 10px;
}

.description p {
  font-size: 12px;
  color: #6f6a6a;
}

.rating {
  width: 40px;
  height: 20px;
  background-color: rgb(18, 179, 18);
  position: absolute;
  top: 25px;
  right: 30px;
  border: 1px solid #fff;
}

.rating p {
  color: #fff;
  font-weight: bold;
}

li {
  display: flex;
  cursor: pointer;
}

li:hover {
  background-color: #eee;
}
</style>
