<script>
import axios from "axios";
import MovieList from "./MovieList.vue";
import SearchBar from "./SearchBar.vue";
import Loader from "./Loader.vue";

export default {
  name: "Search",
  components: {
    MovieList,
    SearchBar,
    Loader,
  },
  data() {
    return {
      movies: [],
      isLoading: false,
    };
  },
  methods: {
    onSearchInputText(text) {
      this.isLoading = true;
      if (text !== null) {
        axios
          .get(`https://api.tvmaze.com/search/shows/?q=${text}`)
          .then((response) => {
            this.movies = response.data;
          });
        this.isLoading = false;
      }
    },
  },
};
</script>

<template>
  <div class="container">
    <Loader :class="{ active: this.isLoading }" />
    <SearchBar @search-inputText="onSearchInputText" />
    <MovieList :movies="movies"></MovieList>
  </div>
</template>

<style scoped>
h4 {
  text-align: center;
}
input {
  width: 40%;
}
div {
  text-align: center;
  margin: 20px;
}
</style>
