<template>
  <form action="" @submit.prevent="onSubmit">
    <input type="text" v-model="inputText" placeholder="Enter film name" />
    <button type="submit">Поиск</button>
  </form>
</template>

<script>

export default {
  name: "SearchBar",
  data() {
    return {
      inputText: "",
    };
  },
  methods: {
    onSubmit() {
      this.$emit("search-inputText", this.inputText);
      this.inputText = null;
    },
  },
};
</script>
