html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  font-family: "SFProDisplay-Bold", sans-serif;
}

p {
  margin: 0;
}

body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 18px;
  overflow-x: hidden;
  background-color: #eeeff3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.task {
  margin: 50px 0;
  min-height: 300px;
}

.task__inner {
  border-radius: 10px;
  width: 400px;
  background-color: #fff;
  color: black;
  padding: 20px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.main__button {
  background-color: #5e24da;
  margin: 15px 0;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  padding: 12px 12px;
  width: 205px;
  border: none;
  border-radius: 5px;
}

.secondary__button {
  background-color: #fff;
  margin: 15px 0;
  color: #868996;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  padding: 10px 45px 10px 15px;
  border: 1px solid #c2c4ca;
  border-radius: 5px;
}

.small__button {
  background-color: #5e24da;
  margin: 15px 0;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  padding: 12px 12px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  font-weight: bold;
}

.task-details {
  position: absolute;
  border-radius: 10px;
  min-width: 400px;
  background-color: #fff;
  color: black;
  padding: 20px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 5;
  left: 400px;
  top: -100px;
}

.secondary__button.more {
  position: absolute;
  top: 0;
  right: 35px;
}

.task-details {
  padding: 20px;
}

.errorMessage {
  color: red;
}

main {
  min-height: 650px;
}

.showbox.active {
  display: block;
}

.showbox {
  display: none;
}
